body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    line-height: 1.5;
    background-color:#f3f3f3;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background:#800000;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #fede00 7px solid;

}


header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

#showcase{
    background-color: #000000;
    background-repeat: no-repeat;
    background-image: url("/image/africanlady.jpeg");
    color: #ff9900; 
    
}

#showcase p{
    font-size: 20px;
    margin-right: 20px;
    text-align: justify; /* For Edge */
    text-align: right;
    
}
#showcase table{
    text-align: justify; /* For Edge */
    text-align: right;
}

footer{
    padding: 20px;
    margin-top: 20px;
    background-color: #800000;
text-align: center;
color: #ffffff;

}

#dates{
    object-position: center;
}

